@import "reset.css";

body {
    margin: 0;
    padding: 0;
}

.header {}

.container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1280px;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
}

.container-left {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 20px 0;
}

.logo {
    padding-right: 5px;
}

.logo img {
    display: block;
}

.menu {
    display: flex;
    justify-content: left;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 8px 10px;
}

.container-right {
    display: flex;
    justify-content: left;
    position: relative;
    padding: 20px 0;
}

.container-right button {
    font-size: 16px;
}

.input_search {
    padding: 0 10px;
}

.input_search input {

    width: 240px;
    height: 38px;
    border-radius: 8px;
    border: 1px solid gray;
}

.header-search-key-slash {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: "";
    color: gray;
    width: 19px;
    height: 20px;
    font-size: 14px;
    line-height: 25px;
    border: 1px solid gray;
    top: 28px;
    left: 220px;
}

.sign-in {
    padding: 8px 10px;

}

.sign-up {
    box-sizing: border-box;
    padding: 4px;
    border: 1px solid black;
    border-radius: 6px;
    margin: 4px 0 4px 10px;
}
